<div class="accordion" id="permissions" >
  <div ng-repeat="item in approvals" class="well accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" >
        {{item.name}}
      </a>
    </div>
    <div class="accordion-body"  style="background-color: #ffffff">
      <div class="accordion-inner body ">
        {{item.owner}}
        <a class="btn btn-mini btn-primary pull-right" href="#" ng-click="approve(item.clientId)">Approve</a>
        <p/>
        <div>
           <div ng-repeat="r in item.resources">
               <div class="row-fluid">
                  <div class="span6"><strong>{{r.resourceUri}}</strong></div>
                  <div class="span6">{{r.name}}</div>
               </div>
            </div>
               
        </div>
      </div>
    </div>
  </div>
</div>    
