<div class="container">
<div class="row" ng-controller="AppController">
	<div class="col-md-2">
		<div class="sidebar-nav well">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">Client Apps</li>
				<li ng-repeat="item in apps" class="{{activeClient(item.clientId)}}"><a
					href ng-click="switchClient(item.clientId)">{{item.name}}</a></li>
			</ul>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	<div class="col-md-9 well">
		<div class="alert alert-danger" ng-show="error != ''">{{error}}</div>
		<div class="alert alert-success" ng-show="info != ''">{{info}}</div>
		<div class="row">
			<div class="col-md-9" ng-switch on="clientId">
				<div ng-switch-when="none">&nbsp;</div>
				<div ng-switch-default>
					<strong>{{app.name}}</strong>
				</div>
			</div>
			<div class="col-md-3 text-right">
        <button class="btn btn-primary col-md-5  col-md-offset-1" type="button"
          ng-click="newClient()">New app</button>
				<div ng-if="clientId != null" >
					<button class="btn btn-default col-md-5 col-md-offset-1" type="button"
						ng-click="removeClient()">Delete</button>
				</div>
			</div>
		</div>

		<div ng-switch on="clientId">
			<div ng-switch-when="none">
				<h3>Welcome to AAC developer console!</h3>
				<p>Start registering your applications here.</p>
			</div>
			<div ng-switch-default>
				<ul class="nav nav-tabs">
					<li class="{{activeView('overview')}}"><a href
						ng-click="viewOverview()">Overview</a></li>
					<li class="{{activeView('settings')}}"><a href
						ng-click="viewSettings()">Settings</a></li>
					<li class="{{activeView('permissions')}}"><a href
						ng-click="viewPermissions()">Permissions</a></li>
				</ul>
				<div ng-include="'./html/'+clientView+'.html'"></div>
			</div>
		</div>
	</div>
	<!--/span-->
</div>
<!--/row-->
</div>
