<div class="accordion" id="permissions" >
  <div ng-repeat="item in idps" class="well accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle">
        {{item.name}}
      </a>
    </div>
    <div class="accordion-body" style="background-color: #ffffff">
      <div class="accordion-inner body ">
        {{item.owner}}
        <a class="btn btn-mini btn-primary pull-right" href="#" ng-click="approveIdP(item.clientId)">Approve</a>
        <p/>
        <div>
           <div ng-repeat="idp in item.idps">
               <div class="row-fluid">
                  <div class="span12"><strong>{{idp}}</strong></div>
               </div>
            </div>
               
        </div>
      </div>
    </div>
  </div>
</div>    
