<table class="table table-bordered">
    <tr>
        <th>name</th>
        <td>{{app.name}}</td>
    </tr>
    <tr>
        <th>clientId</th>
        <td>{{app.clientId}}</td>
    </tr>
    <tr>
        <th>clientSecret</th>
        <td>{{app.clientSecret}}</td>
    </tr>
    <tr>
        <th>clientSecret mobile</th>
        <td>{{app.clientSecretMobile}}</td>
    </tr>
    <tr>
        <th>redirect Web server URLs</th>
        <td>{{app.redirectUris}}</td>
    </tr>
    <tr>
        <th>single logout URL</th>
        <td>{{app.sloUrl}}</td>
    </tr>
    <tr>
        <th>Server-side access</th>
        <td><i class="{{statusIcon(app.serverSideAccess)}}"></i></td>
    </tr>
    <tr>
        <th>Browser access</th>
        <td><i class="{{statusIcon(app.browserAccess)}}"></i></td>
    </tr>
    <tr>
        <th>Native app access</th>
        <td><i class="{{statusIcon(app.nativeAppsAccess)}}"></i></td>
    </tr>
    <tr>
        <th>Enabled identity providers</th>
        <td>{{identityProviders(app)}}</td>
    </tr>
    
</table>

<table class="table">
    <tr><td><a href="#" ng-click="getClientToken()">Get client credentials flow token</a></td><td>{{clientToken}}</td></tr>
    <tr><td><a href="#" ng-click="getImplicitToken()">Get implicit flow token</a></td><td>{{implicitToken}}</td></tr>
</table>
