<div ng-if="editService == null && currService != null">
	<table class="table table-bordered">
	    <tr>
	        <th>ID</th>
	        <td>{{currService.id}}</td>
	    </tr>
	    <tr>
	        <th>name</th>
	        <td>{{currService.name}}</td>
	    </tr>
	    <tr>
	        <th>description</th>
	        <td>{{currService.description}}</td>
	    </tr>
	</table>
  <button class="btn btn-primary" type="button" ng-click="startEdit()">Edit</button>
  <button class="btn btn-default" type="button" ng-click="removeService()">Delete</button>

  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><strong>Service permission parameters</strong></div>
    <div class="col-md-1 pull-right"><a class="btn btn-xs btn-primary" href="#" ng-click="editParameter()"><span class="glyphicon glyphicon-plus"></span></a></div>
    <hr class="hr-min"/>
  </div>

  <div ng-repeat="resource in currService.resource" class="row">
      <div class="col-md-3">{{resource.id}}</div>
      <div class="col-md-3">{{resource.name}}</div>
      <div class="col-md-4">{{resource.description}}</div>
      <div class="col-md-2 pull-right">
        <a class="btn btn-xs btn-default pull-right" href="#" ng-click="removeParameter(resource)"><span class="glyphicon glyphicon-minus"></span></a>
        <a class="btn btn-xs btn-default pull-right" href="#" ng-click="editParameter(resource)"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
  </div>
  
  <div class="row"><p/></div>
  <div class="row">
    <div class="col-md-11"><strong>Service permission mappings</strong></div>
    <div class="col-md-1 pull-right"><a class="btn btn-xs btn-primary" href="#" ng-click="editMapping()"><span class="glyphicon glyphicon-plus"></span></a></div>
    <hr class="hr-min"/>
  </div>

  <div ng-repeat="mapping in currService.resourceMapping" class="row">
      <div class="col-md-2">{{mapping.id}}</div>
      <div class="col-md-3">{{mapping.name}}</div>
      <div class="col-md-4">{{mapping.description}}</div>
      <div class="col-md-1">{{toAuthority(mapping.authority)}}</div>
      <div class="col-md-2 pull-right">
        <a class="btn btn-xs btn-default pull-right" href="#" ng-click="removeMapping(mapping)"><span class="glyphicon glyphicon-minus"></span></a>
        <a class="btn btn-xs btn-default pull-right" href="#" ng-click="editMapping(mapping)"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
  </div>
  
</div>
<form ng-submit="saveService()" role="form" ng-if="editService != null">
		    <table class="table table-bordered">
		        <tr>
		            <th>ID</th>
		            <td>
		            <input type="text" class="form-control"
		                placeholder="my.service.id" ng-model="editService.id" required></td>
		        </tr>
		        <tr>
		            <th>name</th>
		            <td>
		            <input type="text" class="form-control"
		                placeholder="service name" ng-model="editService.name" required></td>
		        </tr>
		        <tr>
		            <th>description</th>
		            <td>
		            <input type="text" class="form-control"
		                placeholder="description" ng-model="editService.description" required></td>
		        </tr>
		    </table>
         <button type="button" class="btn btn-default" ng-click="closeEdit()">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
</form>

<form ng-submit="addParameter()">
<div class="modal fade bs-modal-lg" id="paramModal" tabindex="-1" role="dialog" aria-labelledby="serviceparam" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="serviceperm">Parameter definition</h4>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
				        <table class="table table-bordered">
				            <tr>
				                <th>ID</th>
				                <td>
				                <input ng-disabled="updating" type="text" class="form-control"
				                    placeholder="param ID" ng-model="param.id" required></td>
				            </tr>
				            <tr>
				                <th>name</th>
				                <td>
				                <input type="text" class="form-control"
				                    placeholder="parameter name" ng-model="param.name" required></td>
				            </tr>
				            <tr>
				                <th>description</th>
				                <td>
				                <input type="text" class="form-control"
				                    placeholder="description" ng-model="param.description" required></td>
				            </tr>
				        </table>
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
      </div>      
    </div>
  </div>
</div>
</form>

<form ng-submit="addMapping()">
<div class="modal fade bs-modal-lg" id="mappingModal" tabindex="-1" role="dialog" aria-labelledby="servicemapping" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="servicemapping">Mapping definition</h4>
      </div>
      <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <td>
                        <input ng-disabled="updating" type="text" class="form-control"
                            placeholder="mapping ID" ng-model="mapping.id" required></td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>
                        <input type="text" class="form-control"
                            placeholder="mapping name" ng-model="mapping.name" required></td>
                    </tr>
                    <tr>
                        <th>URI</th>
                        <td>
                        <input type="text" class="form-control"
                            placeholder="service.mapping.uri" ng-model="mapping.uri" required></td>
                    </tr>
                    <tr>
                        <th>description</th>
                        <td>
                        <input type="text" class="form-control"
                            placeholder="description" ng-model="mapping.description" required></td>
                    </tr>
                    <tr>
                        <th>authority</th>
                        <td>
                          <select class="form-control" ng-model="mapping.authority" required>
													  <option value="ROLE_USER">user</option>
													  <option value="ROLE_CLIENT">client</option>
													  <option value="ROLE_ANY">any</option>
													</select>
                        </td>
                    </tr>
                    <tr>
                        <th>approval</th>
                        <td><input type="checkbox" ng-model="mapping.approvalRequired"></td>
                    </tr>
                    <tr>
                        <th>public</th>
                        <td><input type="checkbox" ng-model="mapping.accessibleByOthers"></td>
                    </tr>
                </table>
              </div> 
            </div>  
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
      </div>      
    </div>
  </div>
</div>
</form>