<form ng-submit="saveSettings()" role="form">
    <table class="table table-bordered">
        <tr>
            <th>name</th>
            <td>
            <input type="text" class="form-control"
                placeholder="app_name" ng-model="app.name" required></td>
        </tr>
        <tr>
            <th>clientId</th>
            <td>{{app.clientId}}</td>
        </tr>
        <tr>
            <th>clientSecret</th>
            <td>{{app.clientSecret}} <a href="#" ng-click="reset(clientId,'secret')">Reset</a></td>
        </tr>
        <tr>
            <th>clientSecret mobile</th>
            <td>{{app.clientSecretMobile}} <a href="#" ng-click="reset(clientId,'clientSecretMobile')">Reset</a></td>
        </tr>
        <tr>
            <th>redirect Web server URLs</th>
            <td><input type="text" class="form-control"
                placeholder="specify your (comma-separated) web app addresses"
                ng-model="app.redirectUris"></td>
        </tr>
        <tr>
            <th>single logout URL</th>
            <td>
            <input type="text" class="form-control"
                placeholder="specify client service url in case of single logout." ng-model="app.sloUrl" required></td>
        </tr>
        <tr>
            <th>Server-side access</th>
            <td><input type="checkbox" ng-model="app.serverSideAccess"></td>
        </tr>
        <tr>
            <th>Browser access</th>
            <td><input type="checkbox" ng-model="app.browserAccess"></td>
        </tr>
        <tr>
            <th>Native app access</th>
            <td><input type="checkbox" ng-model="app.nativeAppsAccess"></td>
        </tr>
<!--    
        <tr  ng-show="app.nativeAppsAccess">
            <th>Native app signatures</th>
            <td><input type="text" class="form-control" placeholder="specify your (comma-separated) app signatures" ng-model="app.nativeAppSignatures"></td>
        </tr>
-->        
        <tr>
	        <th>Enabled identity providers</th>
	        <td>
	           <table class="idps">
	             <tr ng-repeat="(k,v) in app.identityProviders">
	             <td>{{k}} </td><td> <input type="checkbox" ng-model="app.identityProviders[k]"></td><td><span class="{{idpIcon(v,app.identityProviderApproval[k])}}"></span></td>
	             </tr>
	           </table>
	        </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Save settings</button>
</form>
