/**
 *    Copyright 2012-2013 Trento RISE
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

@charset "UTF-8";

body {
	/*width: 100%;
	height: 100%;*/
	font-family: "Roboto", sans-serif;
	/* verdana */
/* 	color: #ffffff;
 */	
 background-repeat: repeat-y;
	background-size: 100% auto;
	background-color: silver;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	font-family: "Roboto", sans-serif;
}

ul.pprovider {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 70%;
	max-width: 200px;
}

ul.pprovider li {
	background-color: #666666;
	/*padding: 15%;*/
	margin: 10%;
	max-height: 100px;
}

.btn-social span {
	line-height: 2em !important;
}

ul.pproviderwhite {
	text-align: left;
	margin: 0 auto;
	padding: 0;
	list-style-type: disc;
	width: 50%;
	max-width: 230px;
	font-size: 14px;
}

ul.pproviderwhite li {
	background-color: #fff;
	padding: 5px;
	max-height: 100px;
}

ul.pprovider li a {
	color: #ffffff;
	text-decoration: none;
	font-size: larger;
	display: block;
	/*width: 100%;*/
	line-height: 2em;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.pproviderwhitesmall {
	text-align: left;
	margin: 0 auto;
	padding: 0;
	list-style-type: disc;
	max-width: 230px;
	font-size: 14px;
}

ul.pproviderwhitesmall li {
	background-color: #fff;
	/*padding: 15%;*/
	margin: 7%;
	max-height: 100px;
}

img.logo {
	float: right;
	padding: 5% 5% 0 0;
}

img.logo-nopadtop {
	float: right;
	padding: 20px 5% 0 0;
}

img.logo-centered {
	float: center;
	padding: 3% 0 0 0;
}

div.authorities {
	margin-top: 2%;
}

.clear {
	clear: both;
}

.error {
	font-weight: bold;
	color: red;
}

.posrel {
	position: relative;
}

.wrapp-confirm {
	position: absolute;
	right: 50%;
}
.wrapp-deny {
	position: absolute;
	right: 30px;
}

.minor-padding {
	padding-left: 5px !important;
	/* padding-right: 10px !important; */
}

.footer a:hover {
	color:#000;
}

#my-small-authrequest { display: block; }   /* hide it elsewhere */
#my-big-authrequest { display: none; }   /* show it elsewhere */
#my-small-authbuttons {display: block; }
#my-big-authbuttons {display: none; }
#my-small-authtitle {display: block; }
#my-big-authtitle {display: none; }

@media (min-width:768px) {
	#my-small-authrequest { display: none; }   /* hide it elsewhere */
  	#my-big-authrequest { display: block; }   /* show it elsewhere */
  	#my-small-authbuttons {display: none; }
	#my-big-authbuttons {display: block; }
	#my-small-authtitle {display: none; }
	#my-big-authtitle {display: block; }
}
